language: python
python:
  - "3.6"

install:
  - pip install -r requirements.txt

script:
  - pytest

notifications:
  slack:
    rooms:
      - tw-datalab:tySjyrBfi9MdHdiuk5hh8Jbd
    on_success: change
    on_failure: always